// variables of project#show
// height
$height-project-title: 50px;
$height-company-info: 180px;
$height-company-image: 150px;
$height-company-under_bar: 30px;

// width
$width-main-contents: 70px;
// fontsize
$fontsize-project-title: 20px;
$fontsize-company-info: 16px;
$fontsize-company-under_bar: 16px;
$fontsize-project-information: 20px;

// color
$color-company-under_bar: black;
