.contents--left
  .contents--left__company__members
    %p 株式会社Wantedlyのメンバー
    .contents--left__company__members__header__btn 全員みる(10)
  %ul.contents--left__company__members__image
    %li.contents--left__company__members__image__container
      =image_tag "wlogo.png", class: "contents--left__company__members__image__container__member__img"
      .contents--left__company__members__image__container__member__name 鈴木太一
      .contents--left__company__members__image__container__member__position 営業部長
    %li.contents--left__company__members__image__container
      =image_tag "wlogo.png", class: "contents--left__company__members__image__container__member__img"
      .contents--left__company__members__image__container__member__name 鈴木太一
      .contents--left__company__members__image__container__member__position 営業部長
    %li.contents--left__company__members__image__container
      =image_tag "wlogo.png", class: "contents--left__company__members__image__container__member__img"
      .contents--left__company__members__image__container__member__name 鈴木太一
      .contents--left__company__members__image__container__member__position 営業部長
    %li.contents--left__company__members__image__container
      =image_tag "wlogo.png", class: "contents--left__company__members__image__container__member__img"
      .contents--left__company__members__image__container__member__name 鈴木太一
      .contents--left__company__members__image__container__member__position 営業部長
  .contents--left__company__members__introduction スタートアップでフロントエンドエンジニアとして働きながら、個人では紙でもスクリーンでもない地図プロダクトを作っています。前職では、開発者向けプロダクト/サービスのマネージメントを任され、検証、ローカライズ、営業支援、プロダクトマーケティングなど幅広い業務を経験。その他にも、ブログ執筆、コミュニティイベントの運営・支援を通した、開発者向けのマーケティング活動 (DevRel) を企画してリードしていました。
  .contents--left__company__policy
    .what-content
      %h2 なにをやっているのか
      %p
        =@company.what_content
    .how-content
      %h2 どうやっているのか
      %p
        =@company.how_content
    .why-content
      %h2 なぜやっているのか
      %p
        =@company.why_content
    .requirements
      %h2 こんなことをやります
      %p
        =@project.requirement
  .contents--left__feeds--latest
    %h2 会社の注目の投稿
    %ul
    - @feeds.each do |feed|
      %li.contents--left__feeds--latest__each__feed
        =image_tag "wantedly22b.png", class: 'contents--left__feeds--latest__each__feed__image'
        %small.contents--left__feeds--latest__each__feed__tag--small イチオシ
        .contents--left__feeds--latest__each__feed__title
          =feed.title
        .contents--left__feeds--latest__each__feed__writer
          =image_tag "wlogo.png", class: "contents--left__feeds--latest__each__feed__writer__img"
          .contents--left__feeds--latest__each__feed__writer__name 水田雅也
          .contents--left__feeds--latest__each__feed__writer__position 営業部第一チーム
  .project__info
    %table.project__info__table
      %tr
        %td.project__info__table__chart--top{colspan: 2} 募集要項
      %tr
        %td.project__info__table__chart--left 探している人
        %td.project__info__table__chart--right
          =@project.job_title
      %tr
        %td.project__info__table__chart--left 採用形態
        %td.project__info__table__chart--right
          =@project.job_type
      %tr
        %td.project__info__table__chart--left 募集の特徴
        %td.project__info__table__chart--right ランチご馳走します
      %tr
        %td.project__info__table__chart--top{colspan: 2} 会社情報
      %tr
        %td.project__info__table__chart--left 創業者
        %td.project__info__table__chart--right
          =@company.founder
      %tr
        %td.project__info__table__chart--left 設立年月
        %td.project__info__table__chart--right 2018年3月21日
      %tr
        %td.project__info__table__chart--left 社員数
        %td.project__info__table__chart--right 100人
      %tr
        %td.project__info__table__chart--left 関連業界
        %td.project__info__table__chart--right
          =@company.business_type
      %tr
        %td.project__info__table__chart--bottom{colspan: 2}
          =link_to 'https://www.google.co.jp/' do
            ? もっと知りたいリクエスト
    .entry__btn--bottom 話を聞きに行きたい
    .later__btn--bottom あとで見る
    %p 現在10人がエントリーしています
    %h4
      尚、エントリー状況が他ユーザに公開されることはありません。
      #entry__detail さらに詳しく >
    .supporter--bottom
      %h2 応援している人(1)
      %h3
      =link_to 'https://www.google.co.jp/' do
        全員みる
    .support__btn--bottom
      %i.fa.fa-bullhorn
      応援する
    %h4 応援について詳しく >
    %ul.support__members--bottom
      %li
        =image_tag "wlogo.png", class: "support__members--bottom__img"
      %li
        =image_tag "wlogo.png", class: "support__members--bottom__img"
      %li
        =image_tag "wlogo.png", class: "support__members--bottom__img"

    %h4
      応援している人の数が多いと、
      %span
      =link_to 'https://www.wantedly.com/companies/ranking' do
        会社ランキング
      にランクインします
  .projects--recommended--bottom__box
    .projects--recommended--bottom__box__wrapper__row
      %p こんな募集いいかも
      %ul.projects--recommended--bottom__box__wrapper__row__lists
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
    .projects--recommended--bottom__box--recent
    .projects--recommended--bottom__box__wrapper__row
      %p 最近見た投稿
      %ul.projects--recommended--bottom__box__wrapper__row__lists
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly
        %li.projects--recommended--bottom__box__wrapper__row__lists--each
          =image_tag "wantedly22b.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--big"
          .projects--recommended--bottom__box__wrapper__row__lists--each__title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
          =image_tag "wlogo.png", class: "projects--recommended--bottom__box__wrapper__row__lists--each__img--company"
          .projects--recommended--bottom__box__wrapper__row__lists--each__name 株式会社Wantedly

    =render "shared/footer"
