.contents--right
  .contents--right__interests
    .contents--right__interests--top
      .contents--right__interests--top--centered
        .contents--right__interests--top--centered__entry__btn 話を聞きに行きたい
        .contents--right__interests--top--centered__entry__status 現在10人がエントリーしています
        .contents--right__interests--top--centered__entry__notice エントリー状況は他のユーザーに公開されません
        .entry__detail さらに詳しく >
        .contents--right__interests--top--centered__check--later__btn
          あとで見る
    .contents--right__interests--middle
      %p 応援している人(10)
      =link_to 'https://www.google.co.jp/', class:"see-all" do
        全員見る
    .contents--right__interests--bottom
      .contents--right__interests--bottom__cheer__btn
        %i.fa.fa-bullhorn
        応援する
      .support__detail 応援について詳しく>
      %ul.contents--right__interests--bottom__cheering__member__box
        %li
          =image_tag "wlogo.png", class: "contents--right__interests--bottom__cheering__member__box__supporters--right__img"
        %li
          =image_tag "wlogo.png", class: "contents--right__interests--bottom__cheering__member__box__supporters--right__img"
        %li
          =image_tag "wlogo.png", class: "contents--right__interests--bottom__cheering__member__box__supporters--right__img"
        %li
          =image_tag "wlogo.png", class: "contents--right__interests--bottom__cheering__member__box__supporters--right__img"
      .contents--right__interests--bottom__cheering__notice
        応援してくれる人の数が多いと、
        %span
        =link_to 'https://www.wantedly.com/companies/ranking' do
          会社ランキング
        にランクインします
    .contents--right__map
      %p 地図
    .contents--right__map__detail
      %p
        =@company.address
      %iframe{:src => "//www.google.com/maps/embed/v1/place?key=AIzaSyA_aAmCACWZLCIHaJexWetGOKsc-QbxeTQ&q=#{@address}"}
  .contents--right__projects__introduction
    %p 企業の他の求人
    %ul.contents--right__projects--others
    - @projects.each do |project|
      %li.contents--right__projects--others--each
        =link_to "/projects/#{project.id}" do
          =image_tag @company.logo, class: "contents--right__projects--others--each__imagebox"
          .contents--right__projects--others--each__sentencebox
            .contents--right__projects--others--each__sentencebox__company
              =@company.name
            .contents--right__projects--others--each__sentencebox__title
              =project.title
