.project-title
  %span.job-type-tag キャリアチェンジしたい方
  %p.project-title-sentence
    エンジニアにキャリアチェンジしたい方歓迎！CTOとお話しませんか？
.company-info
  =image_tag "wlogo.png", class: "comapny-image-top"
  %p.company-name 株式会社Wantedly
  %ul.share-tags
    %li.facebook いいね ! 0
    %li.twitter ツイート 0
    %li.hatena B! Bookmark 0
=image_tag "wantedly22b.png", class: 'company-big-image'
.company-under_bar
  %ul.under_bar
    %li.posted_date
      %p 2018/03/17
    %li.number_of_connected_friends
      %p 社員との共通の友達(0)
    %li.number_of_views
      %p 1000
  .support-box
    .support-btn 応援する
    .support-num 10
