.project__title
  %span.project__title--job__type__tag キャリアチェンジしたい方
  %p.project__title--sentence
    エンジニアにキャリアチェンジしたい方歓迎！CTOとお話しませんか？
.company__info
  =image_tag "wlogo.png", class: "company__info__image__top"
  %p.company__info__name 株式会社Wantedly
  %ul.company__info__share__tags
    %li.facebook いいね ! 0
    %li.twitter ツイート 0
    %li.hatena B! Bookmark 0
=image_tag "wantedly22b.png", class: 'company__info__image--big'
.company--under--bar
  %ul.company--under--bar__list
    %li.posted_date
      %p 2018/03/17
    %li.number_of_connected_friends
      %p 社員との共通の友達(0)
    %li.number_of_views
      %p 1000
  .company--under--bar__support--box
    .company--under--bar__support--box__support--btn 応援する
    .company--under--bar__support--box__support--num 10
