.right-bar
  .interests
    %p.visit-btn 話を聞きに行きたい
    %p.check_later-btn あとで見る
  .company-map
    %p.address
    -# =render(google map)
  .company-other-projects
    %ul.more-projects
      %li.more-projects-image
      %li.more-projects-name
      %li.more-projects-title
