%body
  .main-view
    = render 'shared/header'
    .contents
      .contents__carousel
        %p
          カルーセル実装予定
      .contents__main
        .contents__main__left
          .left__search
          .left__field
          .left__region
          .left__character
        .contents__main__right
          .right__nav
          .right__item
    = render 'shared/footer'
