%body
  .main-view
    %header
      #logo
      .header__nav
      %input/
      .header__icon
      .header__profile-image
    .contents
      .carousel
      .sub-content
        .sub-content__search
        .sub-content__field
        .sub-content__region
        .sub-content__character
      .main-content
        .main-content__nav
        .main-content__item
    %footer
      .company-info
      %input/
      .footer__logo
      .footer__icon
