%body
  .main-view
    = render 'shared/header'
    .contents
      .contents__carousel
      .contents__main-content
        .left-content
          .left-content__search
          .left-content__field
          .left-content__region
          .left-content__character
        .right-content
          .right-content__nav
          .right-content__item
    = render 'shared/footer'
