-# .header
-# will be rendered
.contents-centered
  .project-title
    %span.job-type-tag キャリアチェンジしたい方
    %p.project-title-sentence
      エンジニアにキャリアチェンジしたい方歓迎！CTOとお話しませんか？
  .company-info
    =image_tag "wlogo.png", class: "comapny-image-top"
    %p.company-name 株式会社Wantedly
    %ul.share-tags
      %li.facebook いいね ! 0
      %li.twitter ツイート 0
      %li.hatena B! Bookmark 0
  =image_tag "wantedly22b.png", class: 'company-big-image'
  .company-under_bar
    %ul.under_bar
      %li.posted_date
        %p 2018/03/17
      %li.number_of_connected_friends
        %p 社員との共通の友達(0)
      %li.number_of_views
        %p 1000
    .support-box
      .support-btn 応援する
      .support-num 10
  .contents
    .left-contents
      .company-members
        %p 株式会社Wantedlyのメンバー
        .header-btn 全員みる(10)
      %ul.company-members-image
        %li.member-container
          =image_tag "wlogo.png", class: "member-img"
          .member-name 鈴木太一
          .member-position 営業部長
        %li.member-container
          =image_tag "wlogo.png", class: "member-img"
          .member-name 鈴木太一
          .member-position 営業部長
          %li.member-container
            =image_tag "wlogo.png", class: "member-img"
            .member-name 鈴木太一
            .member-position 営業部長
          %li.member-container
            =image_tag "wlogo.png", class: "member-img"
            .member-name 鈴木太一
            .member-position 営業部長
      .company-members-introduction スタートアップでフロントエンドエンジニアとして働きながら、個人では紙でもスクリーンでもない地図プロダクトを作っています。前職では、開発者向けプロダクト/サービスのマネージメントを任され、検証、ローカライズ、営業支援、プロダクトマーケティングなど幅広い業務を経験。その他にも、ブログ執筆、コミュニティイベントの運営・支援を通した、開発者向けのマーケティング活動 (DevRel) を企画してリードしていました。
      -# -if @project.company.what_content present?
      .company-policy
        .what-content
          %h2 なにをやっているのか
          %p.sentence
            学べる生放送コミュニケーションサービス「Schoo（スクー） 」を運営しています。
            「未来にむけて、社会人が今学んでおくべきこと」をコンセプトにした最先端分野の生放送授業と、プログラミング/Webデザイン等のITスキル・マーケティング・ビジネススキル等の「明日の仕事に生きる」動画教材を約3,000時間提供しています。
            Schooのサービスは、「Web上に学校ができたら面白そう」という発想から生まれました。実際の学校のように「そこに人がいる感覚」を大事にし、教室の一体感や臨場感をWeb上で実現しています。
            ■Schooの事業について
            ぜひ一度体験してみてください！
            ・生放送カレンダー：https://schoo.jp/calendar
            個人に対しての提供だけでなく、法人・自治体等への導入も積極的に推進しています。
            ■参考記事
            ・学べる生放送コミュニケーションサービス『Schoo』が 1月のラインアップ “心・技・体 2018” をテーマに 約50コマを無料公開
            https://www.atpress.ne.jp/news/146629
            ・【スクー】個人と組織を変革するインターネット学習の未来――代表・森 健志郎氏インタビュー
            https://officee.jp/magazine/schoo/
          -# -if @project.company.how_content present?
        .how-content
          %h2 どうやっているのか
          %p.sentence 【自社のカルチャーとして大切にしていること】  1. We’re Curious（問い続ける） 2. We’re Autonomous（主体的である） 3. We’re Doers（やり抜く）「SmartDrive Culture」の制作プロセス https://blog.smartdrive.co.jp/smartdrive-culture-f82ac9b1bcd6【事業内容】 弊社はデバイスやそこに組み込むソフトウェアの開発から、スマホアプリ（iOS/Android）やウェブサービスまで、幅広いレイヤーで開発を行なっています。そのため、社員のバックグラウンドも、メーカー、インターネット企業、ゲーム、航空宇宙、コンサルなど様々です。
          -# -if @project.company.why_content present?
        .why-content
          %h2 なぜやっているのか
          %p.sentence 従来の自動車業界は大手車メーカーから系列会社へと縦割りな構造ですが、弊社はそこに横串を通すようなプラットフォーマーの立ち位置でユーザーにコネクテッドカーサービスを提供する立ち位置を目指しています。ユーザーがどこのメーカーの車に乗っていても、どこからどこに乗り換えようとも、シームレスに利用できるサービスを提供をし、車やその他移動体における移動体験にイノベーションを起こしていきます。また、ドライバーによる安全運転やエコ運転がちゃんと評価され、それによるメリットも享受できるという仕組みを構築しようとしています。ドライバーひとりひとりの運転がより安全になり、事故が減っていくことで、世界がもっと安心できる、住みやすい場所になっていく。そのためのしくみやサービスをつくって提供していくこと、それが弊社の事業です。
        .requirements
          %h2 こんなことをやります
          %p.sentence エンタープライズおよびコンシューマー向け、両方（またはいずれか）のプロダクトマネジメントを担当していただきます。
      .latest-feeds
        %h2 会社の注目の投稿
        %ul.feeds
          %li.each-feed
            =image_tag "wantedly22b.png", class: 'feed-image'
            %small イチオシ
            .feed-title 開発にスクラムを導入した経緯と今後について
            .feed-writer
              =image_tag "wlogo.png", class: "writer-img"
              .writer-name 水田雅也
              .writer-position 営業部第一チーム
          %li.each-feed
            =image_tag "wantedly22b.png", class: 'feed-image'
            %small イチオシ
            .feed-title 開発にスクラムを導入した経緯と今後について
            .feed-writer
              =image_tag "wlogo.png", class: "writer-img"
              .writer-name 水田雅也
              .writer-position 営業部第一チーム
          %li.each-feed
            =image_tag "wantedly22b.png", class: 'feed-image'
            %small イチオシ
            .feed-title 開発にスクラムを導入した経緯と今後について
            .feed-writer
              =image_tag "wlogo.png", class: "writer-img"
              .writer-name 水田雅也
              .writer-position 営業部第一チーム
      .project-info
        %table.project-information
          %tr.chart-bar
            %td.chart-top{colspan: 2} 募集要項
          %tr.chart-bar
            %td.chart-left 探している人
            %td.chart-right webエンジニア
          %tr.chart-bar
            %td.chart-left 採用形態
            %td.chart-right 中途採用
          %tr.chart-bar
            %td.chart-left 募集の特徴
            %td.chart-right ランチご馳走します
          %tr.chart-bar
            %td.chart-top{colspan: 2} 会社情報
          %tr.chart-bar
            %td.chart-left 創業者
            %td.chart-right 村田禎介
          %tr.chart-bar
            %td.chart-left 設立年月
            %td.chart-right 1935年3月16日
          %tr.chart-bar
            %td.chart-left 社員数
            %td.chart-right 100人
          %tr.chart-bar
            %td.chart-left 関連業界
            %td.chart-right 製造業
          %tr.chart-bar
            %td.chart-bottom{colspan: 2}
              =link_to 'https://www.google.co.jp/' do
                ? もっと知りたいリクエスト
        .entry-btn-bottom 話を聞きに行きたい
        .later-btn-bottom あとで見る
        %p 現在10人がエントリーしています
        %h4 尚、エントリー状況が他ユーザに公開されることはありません。
        =link_to 'https://www.google.co.jp/' do
          さらに詳しく >
        .bottom-header
          %h2 応援している人(1)
          %h3
          =link_to 'https://www.google.co.jp/' do
            全員みる
        .support-btn-bottom 応援する
        %h4 応援について詳しく >
        %ul.supporters-bottom
          %li
            =image_tag "wlogo.png", class: "supporters-bottom-img"
          %li
            =image_tag "wlogo.png", class: "supporters-bottom-img"
          %li
            =image_tag "wlogo.png", class: "supporters-bottom-img"
        %h4
          応援している人の数が多いと、
          %span
          =link_to 'https://www.google.co.jp/' do
            会社ランキング
          にランクインします
      .bottom-recommended-projects-box
        .projects-row-wrapper
          %p こんな募集いいかも
          %ul.bottom-recommended-projects
            %li.bottom-each-recommended-project
              =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
              .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
              =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
              .bottom-recommended-project-company-name 株式会社Wantedly
            %li.bottom-each-recommended-project
              =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
              .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
              =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
              .bottom-recommended-project-company-name 株式会社Wantedly
            %li.bottom-each-recommended-project
              =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
              .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
              =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
              .bottom-recommended-project-company-name 株式会社Wantedly
            %li.bottom-each-recommended-project
              =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
              .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
              =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
              .bottom-recommended-project-company-name 株式会社Wantedly
        .bottom-recent-projects-box
          .projects-row-wrapper
            %p 最近見た投稿
            %ul.bottom-recommended-projects
              %li.bottom-each-recommended-project
                =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
                .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
                =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
                .bottom-recommended-project-company-name 株式会社Wantedly
              %li.bottom-each-recommended-project
                =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
                .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
                =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
                .bottom-recommended-project-company-name 株式会社Wantedly
              %li.bottom-each-recommended-project
                =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
                .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
                =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
                .bottom-recommended-project-company-name 株式会社Wantedly
              %li.bottom-each-recommended-project
                =image_tag "wantedly22b.png", class: "bottom-recommended-project-img"
                .bottom-recommended-project-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
                =image_tag "wlogo.png", class: "bottom-recommended-project-company-img"
                .bottom-recommended-project-company-name 株式会社Wantedly
    .right-contents
      .right-contents-interests
        .right-contents-interests-top
          .right-contents-interests-top-centered
            .entry-btn 話を聞きに行きたい
            .entry-status 現在10人がエントリーしています
            .entry-notice エントリー状況は他のユーザーに公開されません
            =link_to 'https://www.google.co.jp/', class:"entry-detail" do
              さらに詳しく >
            .check-later-btn あとで見る
        .right-contents-interests-middle
          %p 応援している人(10)
          =link_to 'https://www.google.co.jp/', class:"see-all" do
            全員見る
        .right-contents-interests-bottom
          .cheer-btn
            %i.fa.fa-bullhorn
            応援する
          =link_to 'https://www.google.co.jp/', class:"cheer-detail" do
            応援について詳しく>
          %ul.cheering-member-box
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
            %li
              =image_tag "wlogo.png", class: "supporters-right-img"
          .cheering-notice
            応援してくれる人の数が多いと、
            %span
            =link_to 'https://www.google.co.jp/' do
              会社ランキング
            にランクインします
        .right-contents-map
          %p 地図
        .right-contents-map-detail
          %p 〒150-0043 東京都渋谷区 道玄坂2丁目23−12 フォンティスビル7F
          %iframe{:allowfullscreen => "",  :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.6903378789248!2d139.6941195812203!3d35.660000301006924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188caa2b7ef465%3A0x759462f156bf2a40!2zVEVDSDo6RVhQRVJUIOa4i-iwt-aVmeWupA!5e0!3m2!1sja!2sjp!4v1521447561016"}
      .right-contents-projects-introduction
        %p 企業の他の求人
      %ul.right-contents-other-projects
        %li.each-project
          =image_tag "wlogo.png", class: "ep-imagebox"
          .ep-sentencebox
            .ep-company 株式会社Wantedly
            .ep-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
        %li.each-project
          =image_tag "wlogo.png", class: "ep-imagebox"
          .ep-sentencebox
            .ep-company 株式会社Wantedly
            .ep-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
        %li.each-project
          =image_tag "wlogo.png", class: "ep-imagebox"
          .ep-sentencebox
            .ep-company 株式会社Wantedly
            .ep-title 家族向けサービスの開発を支える、SREチームの立ち上げメンバー募集！
.footer
  -# will be rendered
