.header
-# will be rendered

.project-title
.company-info
.company-image
.company-under_bar
.contents
  .main-contents
    -# contents in a left big box
    .company-members
    .company-members-image
    .company-members-introduction
    .what-content
    .how-content
    .why-content
    .requirements
    .latest-feeds
    .project-info
  .right-bar
  -# will be rendered
.recommended-projects
-# made later
.footer
-# will be rendered
