.header
-# will be rendered

.project-title
  %p.project-title-sentence
.company-info
  %p.company-name
  =image_tag class: 'company-image'
.company-under_bar
  %ol.under_bar
    %li.posted_date
    %li.number_of_connected_friends
    %li.number_of_views
.contents
  .main-contents
    -# contents in a left big box
    .company-members
      =company.name のメンバー
    .company-members-image
     %ol.members
      %li.member-image
        =image_tag
      %li.member-name
        =name
      %li.member-position
        =position
    .company-members-introduction
      =introduction_of_each_member
    -if company.what_content present?
    .what-content
      %h2 なにをやっているのか
      =company.what_content
    -if company.how_content present?
    .how-content
      %h2 どうやっているのか
      =company.how_content
    -if company.why_content present?
    .why-content
      %h2 なぜやっているのか
      =company.why_content
    .requirements
      %h2 こんなことをやります
      =project.content
    .latest-feeds
      %h2 会社の注目の投稿
      %ol.feeds
        %li.feed_image
        %li.feed_date
        %li.feed_title
        %li.feed_writer
    .project-info
      %table.project-information 募集情報
        %tr.chart-bar
          %td.chart-left 探している人
          %td.chart-right =
        %tr.chart-bar
          %td.chart-left 採用形態
          %td.chart-right =
        %tr.chart-bar
          %td.chart-left 募集の特徴
          %td.chart-right =
      %table.project-information 会社情報
        %tr.chart-bar
          %td.chart-left 創業者
          %td.chart-right =
        %tr.chart-bar
          %td.chart-left 設立年月
          %td.chart-right =
        %tr.chart-bar
          %td.chart-left 社員数
          %td.chart-right =
        %tr.chart-bar
          %td.chart-left 関連業界
          %td.chart-right =

  .right-bar
  -# will be rendered
.recommended-projects
-# made later
.footer
-# will be rendered
