=render "shared/header"
=render "modal-windows/projects-detail-entry"
.contents-centered
  =render "shared/top-project-detail"
  .contents
    =render "shared/left-bar-project-detail"
    =render "shared/right-bar-project-detail"
