-# .header
-# will be rendered
.contents-centered
  .project-title
    %span.job-type-tag キャリアチェンジしたい方
    %p.project-title-sentence
      エンジニアにキャリアチェンジしたい方歓迎！CTOとお話しませんか？
  .company-info
    =image_tag "wlogo.png", class: "comapny-image-top"
    %p.company-name 株式会社Wantedly
    %ul.share-tags
      %li.facebook いいね ! 0
      %li.twitter ツイート 0
      %li.hatena B! Bookmark 0
  =image_tag "wantedly22b.png", class: 'company-big-image'
  .company-under_bar
    %ul.under_bar
      %li.posted_date
        %p 2018/03/17
      %li.number_of_connected_friends
        %p 社員との共通の友達(0)
      %li.number_of_views
        %p 1000
    .support-box
      .support-btn 応援する
      .support-num 10
  .contents
    .left-contents
      .company-members
        %p 株式会社Wantedlyのメンバー
        .header-btn 全員みる(10)
      %ul.company-members-image
        %li.member-container
          =image_tag "wlogo.png", class: "member-img"
          .member-name 名前フォント調整
          .member-position 役職フォント調整
        %li.member-container
          =image_tag "wlogo.png", class: "member-img"
          .member-name 鈴木太一
          .member-position 営業部長
          %li.member-container
            =image_tag "wlogo.png", class: "member-img"
            .member-name 鈴木太一
            .member-position 営業部長
          %li.member-container
            =image_tag "wlogo.png", class: "member-img"
            .member-name 鈴木太一
            .member-position 営業部長


      .company-members-introduction member introduction
      -# =member.profile
      -# -if @project.company.what_content present?
      .company-policy
        .what-content
          %h2 なにをやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.what_content
          -# -if @project.company.how_content present?
        .how-content
          %h2 どうやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.how_content
          -# -if @project.company.why_content present?
        .why-content
          %h2 なぜやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.why_content
        .requirements
          %h2 こんなことをやります
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.content
      .latest-feeds
        %h2 会社の注目の投稿
        -# 最新企業feedを取ってきてeach |feed|
        %ol.feeds
          %li.feed_image
            -# =feed.image
          %li.feed_date
            -# =feed.created_date
          %li.feed_title
            -# =feed.title
          %li.feed_writer
            -# =image_tag feed.writer.image class: 'writer-image' if feed.writer.image present?
            -# =feed.writer.name
            -# %p=feed.writer.position
      .project-info
        %table.project-information
          %tr.chart-bar
            %td.chart-top{colspan: 2} 募集要項
          %tr.chart-bar
            %td.chart-left 探している人
            %td.chart-right webエンジニア
          %tr.chart-bar
            %td.chart-left 採用形態
            %td.chart-right 中途採用
          %tr.chart-bar
            %td.chart-left 募集の特徴
            %td.chart-right ランチご馳走します
        %table.project-information
          %tr.chart-bar
            %td.chart-top{colspan: 2} 会社情報
          %tr.chart-bar
            %td.chart-left 創業者
            %td.chart-right 村田禎介
          %tr.chart-bar
            %td.chart-left 設立年月
            %td.chart-right 1935年3月16日
          %tr.chart-bar
            %td.chart-left 社員数
            %td.chart-right 100人
          %tr.chart-bar
            %td.chart-left 関連業界
            %td.chart-right 製造業

    .right-contents
      .right-contents-interests
        .right-contents-interests-top
          .right-contents-interests-top-centered
            .entry-btn 話を聞きに行きたい
            .entry-status 現在10人がエントリーしています
            .entry-notice エントリー状況は他のユーザーに公開されません
            =link_to 'https://www.google.co.jp/', class:"entry-detail" do
              さらに詳しく>
            .check-later-btn あとで見る
        .right-contents-interests-middle
          %p 応援している人(10)
          =link_to 'https://www.google.co.jp/', class:"see-all" do
            全員見る
        .right-contents-interests-bottom
          .cheer-btn
            %i.fa.fa-bullhorn
            応援する
          =link_to 'https://www.google.co.jp/', class:"cheer-detail" do
            応援について詳しく>
          .cheering-member-box 応援してくれている友人を表示
          .cheering-notice 応援してくれる人の数が多いと、会社ランキングにランクインします
      .right-contents-map
        %p 地図
      .right-contents-map-detail
        %p 〒150-0043 東京都渋谷区 道玄坂2丁目23−12 フォンティスビル7F
        .map-container
          =image_tag "samplemap.png", class: "map-container"

      .right-contents-projects-introduction
        %p 企業の他の求人
      %ul.right-contents-other-projects
        %li.each-project
          .ep-imagebox image
          .ep-sentencebox
            .ep-company company name
            .ep-title titletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitle


.recommended-projects
  -# made later
.footer
  -# will be rendered
