-# .header
-# will be rendered
.contents-centered
  .project-title
    %p.project-title-sentence
      =@project.title
  .company-info
    %p.company-name company name
  .company-image company image
  .company-under_bar
    %ol.under_bar
      %li.posted_date posted_date
      %li.number_of_connected_friends friends
      %li.number_of_views number of views
  .contents
    .left-contents
      -# contents in a left big box
      .company-members company members
      -# =@project.company.name のメンバー
      .company-members-image member images
      -# メンバーをdbから取ってきてeach |member|
      %ol.members
        %li.member-image
        -# =image_tag member.image
        %li.member-name
        -# =member.name
        %li.member-position
        -# =member.position
      .company-members-introduction member introduction
      -# =member.profile
      -# -if @project.company.what_content present?
      .company-policy
        .what-content
          %h2 なにをやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.what_content
          -# -if @project.company.how_content present?
        .how-content
          %h2 どうやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.how_content
          -# -if @project.company.why_content present?
        .why-content
          %h2 なぜやっているのか
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.company.why_content
        .requirements
          %h2 こんなことをやります
          %p.sentence aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          -# =@project.content
      .latest-feeds
        %h2 会社の注目の投稿
        -# 最新企業feedを取ってきてeach |feed|
        %ol.feeds
          %li.feed_image
            -# =feed.image
          %li.feed_date
            -# =feed.created_date
          %li.feed_title
            -# =feed.title
          %li.feed_writer
            -# =image_tag feed.writer.image class: 'writer-image' if feed.writer.image present?
            -# =feed.writer.name
            -# %p=feed.writer.position
      .project-info
        %table.project-information
          %tr.chart-bar
            %td.chart-top{colspan: 2} 募集要項
          %tr.chart-bar
            %td.chart-left 探している人
            %td.chart-right webエンジニア
          %tr.chart-bar
            %td.chart-left 採用形態
            %td.chart-right 中途採用
          %tr.chart-bar
            %td.chart-left 募集の特徴
            %td.chart-right ランチご馳走します
        %table.project-information
          %tr.chart-bar
            %td.chart-top{colspan: 2} 会社情報
          %tr.chart-bar
            %td.chart-left 創業者
            %td.chart-right 村田禎介
          %tr.chart-bar
            %td.chart-left 設立年月
            %td.chart-right 1935年3月16日
          %tr.chart-bar
            %td.chart-left 社員数
            %td.chart-right 100人
          %tr.chart-bar
            %td.chart-left 関連業界
            %td.chart-right 製造業

    .right-contents
      .right-contents-interests
        .right-contents-interests-top
          .right-contents-interests-top-centered
            %h.entry-btn 話を聞きに行きたい
            .entry-status 現在10人がエントリーしています
            .entry-notice エントリー状況は他のユーザーに公開されません
            =link_to 'https://www.google.co.jp/', class:"entry-detail" do
              さらに詳しく>
            .check-later-btn あとで見る
        .right-contents-interests-middle middle
        .right-contents-interests-bottom bottom
      .right-contents-map map
      .right-contents-other-projects projects


.recommended-projects
  -# made later
.footer
  -# will be rendered
