#overlay
#modal_window__projects__entry
  #modal_window__projects__entry--inside
    #modal_window__projects__entry--inside__detail さらに詳しく
    #modal_window__projects__entry--inside__bottom
      %p
        エントリーしてからの流れは以下のようになります。
        %br 尚、エントリー状況が他ユーザに公開されることはありません。
      %ul#modal_window__projects__entry--inside__bottom__box
        %li#modal_window__projects__entry--inside__bottom__box__content
          .header 1.招待される
          %p エントリーした後に必ず連絡が来るわけではありません。 募集側も招待したいと思った場合のみ、招待メールが届きます。 自分のプロフィールページを充実しておくと 、招待される可能性が高まります。 通常、招待される場合は、数日以内にメールが届きます。
        %li#modal_window__projects__entry--inside__bottom__box__content
          .header 2.やり取り
          %p 会社訪問に向けて、Wantedly上で日程調整をします。また、Wantedly上のメッセージで追加の質問をされたり、したりすることもできます。
        %li#modal_window__projects__entry--inside__bottom__box__content
          .header 3.訪問しよう
          %p 会社の人は忙しい中貴重な時間を作ってくれています。どんな質問をしたいか等、きっちりと考えて、訪問しましょう。また、直前のキャンセルは厳禁です。気をつけましょう。
#modal_window__projects__support
  #modal_window__projects__support--inside
    #modal_window__projects__support--inside__detail 応援について詳しく
    #modal_window__projects__support--inside__bottom
      %p
        応援ボタンを押すと、この募集のWantedlyでの表示順位が上がります。
        %br 尚また、Facebook・Twitterで拡散させることによって、この企業が理想のチームメンバーに出会える手助けが出来ます。
