@import "config/variables";

.sentence {
  width: 600px;
}

.contents-centered {
  height: 100%;
  width: $width-contents-centered;
  margin: 0 auto;
  word-break: break-all;
  font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
  font-style: normal;
  border: solid thin silver;


.project-title {
  height: $height-project-title;
  font-weight: 600;
  font-size: $fontsize-project-title;

  span {
    color: #00A4BB;
    font-size: $fontsize-smalltags;
    border: solid thin silver;
    padding: 3px 1px;
    border-radius: 2px;
    position: absolute;
    top: 20px;
  }

  p {
    vertical-align: bottom;
    padding-top: 45px;
  }
}

.company-info {
  height: $height-company-info;

  .comapny-image-top {
    margin: 10px 0;
    height: 32px;
    width: 32px;
    float: left;
    background-color: green;

  }

  p {
    padding: 14px 10px;
    color: $color-company-name;
    font-size: $fontsize-company-name;
    font-weight: 600;
    float: left;
  }

  ul {
    float: right;

    li {
      float: left;
      margin: 14px 10px;
      padding: 0 10px;
      border-radius: 3px;
      font-size: $fontsize-smalltags;
      color: $color-smalltags;
    }

    .facebook {
      background-color: $color-facebook;
    }

    .twitter {
      background-color: $color-twitter;
    }
    .hatena {
      padding: 2px 10px;
      font-weight: bold;
      background-color: $color-hatena;
    }
  }
}

.company-big-image {
    width: 100%;
    height: $height-company-big-image;

}

.company-under_bar {
  height: $height-company-under_bar;
  font-size: $fontsize-company-under_bar;
  color: $color-company-under_bar;

  ul {
    height: 100%;
    float: left;

    li {
      color: #6A6E71;
      height: 100%;
      float: left;
      border-right: solid thin silver;

      p {
        padding: 26px 20px;
        font-size: $fontsize-company-under_bar;
      }
    }
  }

  .support-box {
    float: right;
    margin-right: 20px;

    .support-btn {
      display: inline-block;
      background-color: $color-support-btn;
      border: solid thin silver;
      line-height: 30px;
      margin: 18px 5px 10px 10px;
      padding: 0 20px;
      border-radius: 3px;
      font-size: $fontsize-support-btn;
    }
    .support-num {
      display: inline-block;
      border: solid thin silver;
      line-height: 30px;
      padding: 5px 5px;
      border-radius: 3px;
      font-size: $fontsize-support-num;
    }
  }
}

.contents {
  position: relative;

  .left-contents {
    width: $width-left-contents;
    float: left;

    .company-members {
      height: $height-company-members;

      p {
        display: inline-block;
        vertical-align: middle;
        line-height: $height-company-members;
        color: $color-company-members;
        font-size: $fontsize-company-members;
      }

      .header-btn {
        display: inline-block;
        margin: 5px 15px;
        padding: 2px 5px;
        border: solid thin #1e7785;
        border-radius: 3px;
        background-color: $color-cheer-btn;
        color: $color-smalltags;
        font-size: $fontsize-smalltags;
      }

    }
    ul.company-members-image {
      height: $height-company-members-image;
      border: solid thin silver;

      li {
        float: left;
        width: 155px;
        text-align: center;
        margin-top: 10px;

        .member-img {
          height: 130px;
          width: 120px;
        }
        .member-name {
          font-size: $fontsize-company-name;
        }
        .member-position {
          font-size: $fontsize-company-name;
          color: $color-company-under_bar;
        }
      }
    }
    .company-members-introduction {
      font-size: $fontsize-company-name;
      min-height: 100px;
      border: solid thin silver;

    }
  .company-policy {
    .what-content {
      border: solid thin silver;

    }
    .how-content {
      border: solid thin silver;


    }
    .why-content {
      border: solid thin silver;

    }
    .requirements {
      border: solid thin silver;
    }
  }
    .latest-feeds {
      height: $height-latest-feeds;
      border: solid thin silver;

      .feed_image {
        $height-feed_image: 30px;
        $width-feed_image: 50px;
      }

      .feed_date {
        font-size: $fontsize-feed_date;
        color: $color-feed_date;
      }

      .feed_title {
        font-size: $fontsize-feed_title;
      }

      .feed_writer {
        .writer-image {

        }
      }
    }
    .project-info {
      border: solid thin silver;

      .project-information {
        width: calc(#{$width-left-contents} - 10px);
        font-size: $fontsize-project-information;
        font-weight: bold;
        border: solid thin silver;

        .chart-top {
          padding: 10px 10px;
          border: solid thin silver;
          text-align: center;

        }


      .chart-left {
        padding: 10px 10px;
        border: solid thin silver;

      }
      .chart-right {
        font-weight: normal;
        border: solid thin silver;

      }
    }
  }

  }

  .right-contents {
    width: calc(#{$width-contents-centered} - #{$width-left-contents} - 2px);
    border: solid thin silver;
    position: absolute;
    right: 0;

    &-interests {
      margin: 0 10px;


      &-top {
        height: $height-right-contents-interests-top;

        &-centered {
          height: 100%;

          .entry-btn {
            width: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
            background-color: $color-entry-btn;
            color: $color-smalltags;
            border-radius: 3px;
            font-size: 16px;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            top: 10px;
            left: 12px;
          }

          .entry-status {
            font-size: $fontsize-entry-status;
            font-weight: bold;
            position: absolute;
            top: 70px;
          }

          .entry-notice {
            font-size: $fontsize-entry-status;
            position: absolute;
            top: 90px;
          }

          .entry-detail {
            font-size: $fontsize-entry-status;
            position: absolute;
            top: 105px;
          }

          .check-later-btn {
            width: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
            background-color: white;
            color: black;
            text-align: center;
            font-size: 16px;
            border: solid thin silver;
            border-radius: 3px;
            padding: 10px 0;
            position: absolute;
            top: 130px;
            left: 12px;
          }

        }

      }

      &-middle {
        height: $height-right-contents-interests-title;
        border: solid thin silver;
        border-left: none;
        border-right: none;

        p {
          float: left;
          font-size: 14px;
          padding: 14px 14px;

        }

        .see-all {
          float: right;
          font-size: 11px;
          padding: 14px 10px 14px 0;

        }
      }

      &-bottom {
        height: 300px;
        font-size: $fontsize-entry-status;

        .cheer-btn {
          width: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
          background-color: $color-cheer-btn;
          border: solid thin #1e7785;
          border-radius: 3px;
          color: $color-smalltags;
          font-size: 16px;
          text-align: center;
          padding: 10px 0;
          margin-top: 10px;
          position: absolute;
          left: 12px;

        }

        .cheer-detail {
          font-size: $fontsize-entry-status;
          position: absolute;
          top: 300px;
        }

        .cheering-member-box {
          height: $height-cheering-member-box;
          width: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
          border: solid thin silver;
          position: absolute;
          top: 320px;
        }

        .cheering-notice {
          position: absolute;
          top: 500px;
        }
      }
    }

    &-map {
      height: $height-right-contents-interests-title;
      border-top: solid thin silver;
      border-bottom: solid thin silver;

      p {
        float: left;
        font-size: 14px;
        padding: 14px 14px;
      }


    }

    &-map-detail {
      font-size: $fontsize-address;
      margin: 0 10px;

      .map-container {
        height: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
        width: calc(#{$width-contents-centered} - #{$width-left-contents} - 22px);
        border: solid thin silver;
        margin-bottom: 10px;
      }
    }

    &-projects-introduction {
      height: $height-right-contents-interests-title;
      border-top: solid thin silver;
      border-bottom: solid thin silver;

      p {
        float: left;
        font-size: 14px;
        padding: 14px 14px;

      }
    }

    &-other-projects {
      min-height: 300px;
      border-bottom: solid thin silver;

      .each-project {
        min-height: 100px;
        border: solid thin silver;

        .ep-imagebox {
          border: solid thin silver;
          height: 60px;
          width: 60px;
          margin: 20px 10px;
          float: left;
        }
        .ep-sentencebox {
          border: solid thin silver;
          height: $height-sentencebox;
          width: $width-sentencebox;
          margin: 10px 5px;
          position: absolute;
          right: 10px;
          font-weight: bold;



          .ep-company {
            min-width: 100px;
            border: solid thin silver;
            color: $color-ep-company;
          }

          .ep-title {
            min-width: 100px;
            border: solid thin silver;
          }
        }
      }

    }
  }

}
}
.recommended-projects {

}
