@import "./color";
@import "./clearfix";
@import "footer/little";
@import "footer/strong";
@import "footer/list";

body{
  width: 100%;
  margin: 0 auto;
}


.contents{
  clear: both;
  height: 1000px;
}
